body {
  background-color: burlywood;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  font-family: monospace;
}

div:nth-child(even) {
  background-color: #6D5A3E;
  padding: 20px;  
  color: white;
}

div {
  max-width: 1014px;
  margin: 20px auto;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

img:hover {
  transform: rotate(30deg)
}

#heads {
  background-image: url("./img/heads.png");
}

#tails {
  background-image: url("./img/tails.png");
}

input {
  display: block;
  background-image: url("./img/heads.png");
  border-radius: 50%;
  margin: 40px auto 0px auto;
  width: 100px;
  height: 100px;
  font-weight: bolder;
}

input:hover {
  cursor: pointer;
  background-image: url("./img/tails.png");
  transform: scaleX(-1);
  transition: all 1.5s;
}

#playCoin {
  background-color: initial;
  color: #6D5A3E;
  padding: 0px;
  text-transform: uppercase;
}